@import 'tailwindcss';

:root {
  --background: #fcf8f8;
  --foreground: #222831;
  --secondary: #fbefef;
  --tertiary: #f9dfdf;
  --abstract: #f5afaf;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  --color-abstract: var(--abstract);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #222831;
    --foreground: #fcf8f8;
    --secondary: #393e46;
    --tertiary: #948979;
    --abstract: #dfd0b8;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
